#clinker-urlicon,
toolbar[iconsize="small"] #clinker-urlicon,
#clinker-urlicon > .toolbarbutton-menubutton-button {
  padding: 0px !important;
  list-style-image: url("chrome://clinker/skin/clinker_grey_button.png");
  -moz-appearance: none !important;
}

#clinker-popup-container {
  background-image: url("chrome://clinker/skin/clinker_popup_bg.png");
  min-width: 450px;
  border-color: #CCCCCC;
  border-style: solid; 
}

#clinker-popup-icon {
  height: 100px;
  width: 101px;
  background-image: url("chrome://clinker/skin/clinker_popup_icon.png");
}

#clinker-popup-content-box {
  white-space: pre-wrap;
}

#clinker-popup-content-cert-type,
#clinker-popup-content-issuer-location,
#clinker-popup-content-organization-location,
#clinker-popup-content-organization-cacert,
#clinker-popup-content-organization-subcert,
#clinker-popup-content-certificate,
#clinker-popup-content-commonname,
#clinker-popup-content-organization,
#clinker-popup-content-issuer,
#clinker-popup-content-before-date,
#clinker-popup-content-after-date,
#clinker-popup-content-pfs,
#clinker-popup-content-ciphersuite,
#clinker-popup-content-key_exchange,
#clinker-popup-content-signature,
#clinker-popup-content-bulk_cipher,
#clinker-popup-content-mac,
#clinker-popup-content-secure,
#clinker-popup-content-host {
  color: #000000;
  font-family:monospace;
  max-width: 450px;
}

#clinker-clinker_ssl_validation_title {
  color: #000000;
  font-family:Verdana;
  font-size:150%;
  max-width: 450px;
}

#clinker-popup-content-current-date,
#clinker-clinker_ssl_validation_homepage {
  color: #000000;
  font-family:Verdana;
  font-size: 90%;
  max-width: 450px;
}

#clinker-clinker_ssl_validation_homepage:hover {
  color: #0000ff;
  font-family:Verdana;
  font-size: 90%;
  max-width: 450px;
  text-decoration: underline;
}
